# Compiled Object files
ArdLog
*.slo
*.lo
*.o
*.obj

#intellij
.idea
build
.gradle
gradle
gradlew
gradlew.bat

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Release
